<!DOCTYPE html>
<html>
<head>
    <title>Room Unavailability</title>

</head>
<body>
    
    <script>
 
        window.onload = function() {
            alert('Sorry, the given room of type {{roomType}} is unavailable for the selected dates. Plese Select A different room Type');
            window.history.back(); 
        };
    </script>
</body>
</html>
